/*CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS reset ends*/

/* box model */
* , *:before, *:after {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
    display: inline-block;
    font-size: 24px;
    font-family: 'poppins';
    line-height: 36px;
    font-weight: 300;
    color: white;
    letter-spacing: .5px;
    position: absolute;
    text-decoration: none;
    text-transform: capitalize;
    
     /*
width: 1170px;
height: 39px;
left: 135px;
top: 72px;
   */
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  
  background-image: linear-gradient(to right, #999292, #999292);
  background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .5s ease;
  /*color: blue;*/
  
}
/*
.container{
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;

}*/
li{
  /*float: left;*/
  text-align: center;
  display: inline-block;
  margin: 0 50px;
  
}
body{
  /*
    box-sizing: border-box;
    
    margin-bottom: 20px;
    
    margin-right: 20px;
    margin-left: 20px;
    */
    margin-top: 20px;
    /*
    padding-left: 20px;
    padding-top: 20px;
    */
    width: 100%;
    /*height:2000px;*/
    font-weight: 300;
    display: block;
  background-image: url("coverimage.gif");
  background-repeat: no-repeat;
  
}

.firstpage{
  

}
.desc{

  position: absolute;
width: 749px;

height: 72px;
left: 346px;
top: 233px;


font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;
text-align: center;

/* White */

color: #dfdcdc;
}
.title{
  display: flex;
  flex-direction: row;
  
position: absolute;
width: 577px;
height: 44px;
left: 432px;
top: 109px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 144px;
/* identical to box height */


/* White */

color: #FFFFFF;
}



.btnjoin{
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  background-color: green;
  border-color: #FFFFFF;
position:absolute;
width: 90px;
height: 42px;
left: 646px;
top: 443px;
}

.btnjoin:hover {
  background-color: rgb(61, 108, 154);
}
.col-1-4{
  width:25%;
  display: inline-block;
  background-color: transparent ;
  
  vertical-align: top;
  /*padding-left: 15px;
  padding-right: 15px;*/
}
.rows{
 
  width: 960px;
  height:1000px;
}
.wheretogoimage{
  background-image: url("assets/images/wheretogo.gif");
  background-repeat: no-repeat;
  background-color: transparent ;
  background-size: cover;
  position:relative;
  display: block;
 /* left: 146px;
top: 643px;*/
margin: 0%;
box-sizing: border-box;
padding: auto;
top: 1000px;
width: max-content;
color: #FFFFFF;
font-family: 'Poppins';
font-weight: 200;
}
article{
  position:relative;
  width: 960px;
  top:10%;
  background: transparent;
}
.aboutusimage{
  
  display: block;
  position: relative;
top: 1000px;
width: 960px;
height: 2000px;
bottom: 380px;
font-family: 'Poppins';
font-weight: 200;
  background-image: url("assets/images/aboutus.gif");
  background-repeat: no-repeat;
  background-size: contain;
  color: #b8b4b4;
}
.aboutustext{
  position: relative;
  align-content: center;
  text-align: justify;
  top: 200px;
  margin: 20px;
  line-height: 26px;
}