/*CSS reset */

html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS reset ends*/

/* box model */
* , *:before, *:after {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav .link{
   /* display: inline-block;*/
   display: none;
    font-size: 24px;
    font-family: 'poppins';
    line-height: 36px;
    font-weight: 300;
    color: white;
    letter-spacing: .5px;
    position: absolute;
    text-decoration: none;
    text-transform: capitalize;
 
}
@media only screen and (max-width:600px){
 .hamburgermenu{
  display: block;
}
.link{
  display: none;
}
.menudiv{
  display: none;
}
}


@media only screen and (min-width:600px){
  nav{
    display: unset;
  }
  .hamburgermenu{
    display: none;
  }
  .menudiv{
    display: none;
  }
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  
  background-image: linear-gradient(to right, #999292, #999292);
  background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .5s ease;
  /*color: blue;*/
  
}

.container{
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    border-radius: 5px;

}
li{
  /*float: left;*/
  text-align: center;
  display: inline-block;
  margin: 0 50px;
  
}
body{

    margin-top: 20px;
    width: 100%;
    font-weight: 300;
    font-family: 'Poppins';
    font-style: normal;
   display: block;
    background-image: url("coverimage.gif");
    background-repeat: no-repeat;
  
}

section {
  display: flex;
  flex-direction:column;
  height: 100%;
}
.firstpage{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.firstsectiondiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc{
/*
  position: absolute;
width: 749px;

height: 72px;
left: 346px;
top: 233px;
*/
font-size: 24px;
line-height: 36px;
text-align: center;

/* White */

color: #dfdcdc;
}
.title{
  /*
position: absolute;
width: 577px;
height: 44px;
left: 432px;
top: 109px;*/
font-weight: 700;
font-size: 96px;
line-height: 144px;
/* identical to box height */
/* White */
color: #FFFFFF;
}

div .buttonjoin{
  width:100%;
   height: 400px;
    display: flex;
    flex-direction: row;
    /* align-content: stretch; */
    justify-content: center;
    align-items: center;
}
.btnjoin{
  border-radius: 5px;
  display: inline-block;
  width: 77px;
  height: 40px;
  margin: 0;
  background-color: green;
  border-color: #FFFFFF;
  /*
position:absolute;
width: 90px;
height: 42px;
left: 646px;
top: 443px;*/
}

.btnjoin:hover {
  background-color: rgb(61, 108, 154);
}
.col-1-4{
  width:25%;
  display: inline-block;
  background-color: transparent ;
  
  vertical-align: top;
  /*padding-left: 15px;
  padding-right: 15px;*/
}
.spandiv{
  height: 36px;
  font-size: x-large;
}

.wheretogoimage{
  background-image: url("assets/images/wheretogo.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position:inherit;
 /* display:flex;*/
 /* left: 146px;
top: 643px;*/
margin: 0%;
box-sizing: border-box;
width: inherit;
color: #FFFFFF;
font-weight: 200;
justify-content: center;
}
.text{
  background-color: transparent;
  margin: 10px;
  flex-wrap: wrap;
}
article{
  position:relative;
 /* width: 960px;*/
  top:10%;
  background: transparent;
  margin:5px;
}
@media only screen and (min-width:600px){
  article{
    width: 960px;
  }
  section{
  flex-direction:row;

  }
}
div .teaser{
  display:flex;
  /*flex-wrap: wrap;*/
}
 .imagecard{
  background-color: transparent;
  height:200px;
  margin-bottom: 15px;
  background-size: cover;
}
.card1{
  background-image: url("assets/images/Group 4.png");
}
.card2{
  background-image: url("assets/images/Group 5.png");
}
.card3{
  background-image: url("assets/images/Group 6.png");
}
.card7{
  background-image: url("assets/images/Group 7.png");
}

.aboutusimage{
  display: flex;
  position: relative;
  /*
top: 1000px;
width: 960px;
height: 2000px;
bottom: 380px;*/

font-weight: 200;
  background-image: url("assets/images/aboutus.gif");
  background-repeat: no-repeat;
  background-size:contain;
  color: #b8b4b4;
  
}
.aboutustext{
  position: relative;
  align-content: center;
  text-align: justify;
 /* top: 200px;*/
  margin: 20px;
  line-height: 26px;
}
